* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid black;
    padding: 10px;
}

.header_title {
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    color: black;
    padding: 5px;
}

.header_title-brandName {
    font-size: 1.9em;
    margin-left: 5px;
}

.header_title :hover {
    color: #4384e6;
}

.footer {
    margin-top: auto;
    border-top: 0.5px solid black;
    bottom: 0;
    padding-bottom: 10px;
}

.footer_text {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 0.8em;
    font-weight: 500;
}

.subHeader {
    text-align: center;
    margin-top: 20px;
    font-size: 1em;
    padding-right: 10px;
    padding-left: 10px;
}

.faq_accordionBody {
    margin-top: 150px;
    margin: auto;
    width: 50%;
}

.faq_accordion {
    margin: auto;
}

.faq_mainAccordionSection {
    padding: 10px;
}

.faq_accordionContent {
    margin-top: 10px;
    border: 1px solid rgb(194, 194, 194);
    padding: 10px;
}

.faq_subAccordion {
    padding-bottom: 5px;
}

.faq_note {
    margin-top: 5px;
}

@media screen and (max-width: 1025px) {
    .faq_accordionBody {
        width: 60%;
    }
}

@media screen and (max-width: 975px) {
    .faq_accordionBody {
        width: 70%;
    }
}

@media screen and (max-width: 615px) {
    .faq_accordionBody {
        width: 100%;
    }

    .faq_mainAccordionSection {
        padding: 2px;
    }
}

.contactUsPage > iframe {
    margin-top: 20px;
}

.cancerMenu {
    width: 60%;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 30px;
}

.cancerMenu_itemPanel {
    text-align: left;
    margin-left: 10px;
    padding: 10px;
}

.cancerMenu_itemLink {
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .cancerMenu {
        width: 90%;
    }
}

.cancerPageTemplate_actionButtons {
    align-self: center;
    align-items: center;
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: 220px;
    grid-auto-rows: 150px;
    margin: auto;
    justify-content: center;
}

@media screen and (min-width: 550px) {
    .cancerPageTemplate_actionButtons {
        grid-template-columns: 220px 220px;
    }
}

.cancerPageCard {
    text-align: center;
}

.genesAndMore {
    align-self: center;
    align-items: center;
    text-align: center;
    width: 70%;
}

.genesAndMore_geneInfoForm {
    padding: 20;
}

.genesAndMore_termInput {
    width: 30%;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    border-width: 1px;
}

.genesAndMore_searchButton {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.genesAndMore_searchButtonContainer {
    padding: 20px;
    margin-bottom: 20px;
}

.genesAndMore_formArea {
    margin-top: 20px;
}

@media screen and (min-width: 1090px) {
    .genesAndMore_termInput {
        width: 60%;
    }
}

@media screen and (min-width: 1060px) {
    .cancerPageTemplate_actionButtons {
        grid-template-columns: 220px 220px 220px;
    }
}
